<div class="container">
  <form action="/<%= idea.id %>" method="post" role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="idea[title]" value="<%= idea.title %>">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" id="description" name='idea[description]'><%= idea.description %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save idea</button>
    <input type="hidden" name="_method" value="put">
  </form>
</div>
